
/* to get rid of the white space at the right side of the page */
html,body[theme='light']
{
    width: 100%;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: white;
    /* CSS Variable */
    --titlecolor: #29232D;
    --linkcolor: #183642;
    --backgroundcolor: white;
    --textcolor: black;
    --project-background: #ebeced;
    --footer-background: var(--backgroundcolor);
    --bordercolor: #eee;
    --underlinecolor: #000;
    --resumecolor: var(--bordercolor);
    --opacitylvl: 1;
}


body[theme='dark'] {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #183642;
  --titlecolor: #c0d0e1;
  --linkcolor: #d7d4e7;
  --backgroundcolor: #183642;
  --textcolor: #949ea8;
  --project-background: #1f2831;
  --footer-background: var(--project-background);
  --bordercolor: #514c5e;
  --underlinecolor: var(--textcolor);
  --resumecolor: white;
  --opacitylvl: .75;
}



#links {
  padding-top: 25px;
  margin-bottom: 50px;
}

#links img {
  padding: 10px;
  margin: 30px;
  border:1px dashed #23527c;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

#links > a {
/*    width: 100px;*/ /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-out;  
    -moz-transition: opacity 0.1s ease-out;  
    -o-transition: opacity 0.1s ease-out;  
    transition: opacity 0.1s ease-out; 
}

#links > a:hover {
  opacity: 0.5;
}

#links:after {
  content: "";
  width: 100%;
  display: inline-block;
}


.about-title {  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px; /* at the back is line-height */
  font-weight: 800; 
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--titlecolor);
/*  line-height: 42px;*/
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 1.5em;

}

.about-title::after, .project-title::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 20%;
  bottom: -0.5em;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: var(--underlinecolor);
}



#about {
/*  max-width: 1000px;*/
  padding-top: 50px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
/*  margin-left: 75px;*/
/*  padding: 9em 8em 10em 0;*/
/*  margin: auto;*/
/*  margin: auto; to make it center 
  display: block;*/
}

.about-des {
/*  width: 600px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  /*font-size: 1.7em;*/
 /* max-width: 570px;*/
  margin-bottom: 2em;
  line-height: 1.6em;
  color: var(--textcolor);
}

.about-timeline {
/*  width: 600px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  /*font-size: 1.7em;*/
 /* max-width: 570px;*/
  margin-top: 1em;
  margin-bottom: 2em;
  line-height: 2.5em;
  /*display: block;*/
 /* margin: 0 auto;*/
 color: var(--textcolor);
}

.profile {
  width: 225px;
  height: 225px;
  margin: 0 auto 2px;
}

#profile-pic {
  border-radius: 50%;
  vertical-align: middle;
  border: 5px solid #29232D;
  opacity: 0.9;
}


#resume {
  margin-bottom: 3em;
  padding-top: 1em;
}

#resume a:link {
  font-family: 'Open Sans', sans-serif;
  background-color: #ff9966;  
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 3em 1em 3em;
  border-radius: 3em;
  opacity: var(--opacitylvl);
  vertical-align: middle; 
    -webkit-transition: background 0.5s ease-out;  
    -moz-transition: background 0.5s ease-out;  
    -o-transition: background 0.5s ease-out;  
    transition: background 0.5s ease-out;  

/*      transition-property: background;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;*/
  
}

#resume a:visited {
  color: white;
  text-decoration: none;
}

#resume a:hover {
  background-color: #FFAFBD;
  color: var(--resumecolor); /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #000, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #000, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-decoration: none;
  border: 1px solid #FFAFBD;
  border-radius: 3em;
}


.project-title {
  /*height: 2em;*/
  font-family: 'Open Sans', sans-serif;
  color: var(--titlecolor);
  /*width: 7em;*/
  font-size:  20px;
  font-weight: bold;
  line-height: 1.9em;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  letter-spacing: 5px;

}


#project {
  padding-top: 5em;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--project-background);
  padding-bottom: 5em;
  padding-left: 15px;
  padding-right: 15px;
}

.projects {
  display: inline-block; /*because it's a span */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--textcolor);
}

#project b {
  display: block;
}


#project p > a:link {
  color: #FFAFBD;
}

#project p > a:visited {
  color: #FFAFBD;
}

#project p > a:hover {
  color: #ffb981;
  font-weight: bold;
}


.photo-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  opacity: var(--opacitylvl);
}

.overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.photo-container:hover .overlay{
  opacity: 1;
}


#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: white;
}

#spinner {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 101;
  background-color: #183642;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


@media screen and (max-width: 480px) {
  
  .centering {
    vertical-align: middle;
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
    padding-top: 0px;
  }


  #links img {
    margin: 20px;
  }

  .profile {
    width: 200px;
    height: 200px;
  } 

  #home-name {
    font-size: 2.5em;
  }

  #home-label {
    font-size: 1.2em;
  }

}

#footer {
  background-color: var(--footer-background);
  font-family: 'Open Sans', sans-serif; 
  font-size: 0.9em;
  font-weight: lighter;
  padding-top: 5em;
  padding-bottom: 2em;
  line-height: 1.6em;
  text-align: center;
  color: var(--textcolor);
}

#darkmodebutton:hover {
  opacity: 0.5;
}

#darkmodebutton {
  color: var(--linkcolor);
}


.page-header {
  margin-top: 22px;
  border-color: var(--bordercolor);
  text-align: right;
}

.color-theme-in-transition,
.color-theme-in-transition *,
.color-theme-in-transition *:before,
.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


/* unused below */

#home {
  height: 100vh;
  margin: 0 auto;
  /*background-color: #183642; */
}

.jumbotron {
    /*background-image: linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 0, 0.8)),
                  url("images/green_dust_scratch.png");*/
    /*background: #ff9966;   fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #ff5e62, #ff9966);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    color: white;
    
}

.centering {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-top: 125px;
}


.home-title h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 1.6em;
  display: inline-block;
  letter-spacing: 1px;
}

.home-title h2 {
  font-family: 'Open Sans', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 26px;

}

#home-name, #home-label, #links {
  opacity: 1;
  -moz-transition: opacity 1.0s;
  -webkit-transition: opacity 1.0s;
  -o-transition: opacity 1.0s;
  transition: opacity 1.0s;
}

#home-name.loaded, #home-label.loaded, #links.loaded {
    opacity: 1;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 392px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: -150px;
    /*background-color: rgba(255, 255, 255, 0.7);*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#mySidenav a:link {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size:  28px;
  color: #817a74;
  text-decoration: none;
  line-height: 70%;
  text-transform: uppercase;
}


#mySidenav a:visited {
  color: #817a74;
  text-decoration: none;
}

#mySidenav a:hover {
  color: #fff;
  -webkit-text-stroke-width: 1.8px;
  -webkit-text-stroke-color: black;
}

#skills {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  text-align: center;
  line-height: 26px; 
  font-size: 16px;
}


.skills span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px; /* at the back is line-height */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #29232D;
}

#contact {
/*  max-width: 1000px;*/
  padding-top: 5em;
  padding-bottom: 10em;
/*  padding-left: 64px;*/
  /*margin: auto;*/
/*  margin-left: 75px;*/
  font-family: 'Open Sans', sans-serif;
}

.noscroll {
  position: fixed;
  overflow: hidden;
}